/* Di dalam file: src/components/RequirementForm.module.css */

.formTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

.formSubtitle {
  text-align: center;
  font-size: 0.9rem;
  color: #d1d5db;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #4b5563;
  padding-bottom: 20px;
}

.radioGroup,
.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radioGroup label,
.checkboxGroup label {
  margin-bottom: 0; /* Hapus margin-bottom dari label global */
  margin-left: 10px;
  font-weight: normal;
  color: #e5e7eb;
}

/* Beri style khusus untuk checkbox agar tidak pakai style input biasa */
.checkbox {
  width: 18px;
  height: 18px;
}